client_secret = x15reYDD/WxWzlRzPsEwUEfEWAfuS6+qIXwKZLo+mgOQ=

host = akab-tlkbkrt66wve5u3o-ajdgtadfgewvj.luna.akamaiapis.net

access_token = akab-7v14r87efdjfhcjxu-crnweo47pda3rhvq

client_token = akab-egq7dfjdtedpa-ud7k6u5n7ccgk4fp

customer_id = 11111
